@import "tailwindcss";

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'IRANYekanXVFaNumVF';
  src: url('/fonts/Inter-Regular.otf') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: 'IRANYekanXVFaNumVF' !important;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .radial-purple {
    background: radial-gradient(ellipse at center, #6B21A8 0%, transparent 70%);
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #dfc8f5, #985fc6);
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #dfc8f5, #985fc6);
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #dfc8f5 transparent;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

.animate-slideUp {
  animation: slideUp 0.35s cubic-bezier(0.25, 0.8, 0.25, 1) forwards;
}

.animate-slideDown {
  animation: slideDown 0.35s cubic-bezier(0.25, 0.8, 0.25, 1) forwards;
}